body{
    background-image:url(Assets/audi-logo.jpg);
    background-size:contain ;
    background-repeat: repeat;
}
h1{
    font-size: xx-large;
    font-family:'Times New Roman', Times, serif;
    color: rgb(218, 16, 16);
    font: bold;
    background-color: white;

}
h2{
    font-size: large;
}
.vehicle {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.vehicle img {
    max-width: 200px;
    height: auto;
}
button:hover {
    background-color: rgb(238, 71, 41);
}


#availabilitySection {
    margin-top: 20px; /* Adjust as needed */
}

#availabilityLabel {
    display: block;
    margin-bottom: 5px;
}

#availabilitySelect {
    display: block;
    width: 100%;
}
#viewNewModelsBtn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 15px;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor:context-menu;
    transition: background-color 0.3s ease;
    float: right;
}

#viewNewModelsBtn:hover {
    background-color: #0056b3;
}
#bookNewModelsBtn {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    font-size: 15px;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor:context-menu;
    transition: background-color 0.3s ease;
    float: right;
}

#bookNewModelsBtn:hover {
    background-color: #0056b3;
}
#notificationBadge {
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    margin-left: 5px;
    font-size: 12px;
}
p{
    color: rgb(17, 15, 15);
    background-color: white;
}
.writing-animation::before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    width: 0;
    animation: typing 10s steps(50, end);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
